@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600;700&display=swap');

* {
	font-family: 'Open Sans', sans-serif;
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
:root {
    scroll-behavior: smooth;
}
body{
    height: 100vh;
    display: flex;
    background: url(/Fronted/img/fondo2.png);
    align-items: center;
    justify-content: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.container-fluid .icon {
	min-width: 58px;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-right: 6px;
}
.bg-dark {
    background-color: #212529!important;
}
.form-search{
    background: #fff;
    padding: 10px;
    border-radius: 10px;
    border: 1px solid black;
}
.lead{
    font-weight: 350;
}
.form-control {
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
    border: none;
    margin-right: 10px;
    border: none !important;
    background: none !important;
}

.form-control:hover,
.form-control:focus {
    outline: none;
    box-shadow: none;
}

.btn-primary {
    background-color:  #2756ff;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 20px;
    padding-right: 20px;
}
.btn-primary:hover {
    background-color: #7883ad;
}
/*Login*/
