@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600;700&display=swap');

* {
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    scroll-behavior: smooth;
    --grey: #F1F0F6;
    --dark-grey: #8D8D8D;
    --light: #fff;
    --dark: #212529;
    --green: #81D43A;
    --light-green: #E3FFCB;
    --blue: #1775F1;
    --light-blue: #D0E4FF;
    --dark-blue: #0C5FCD;
    --red: #FC3B56;
}

body {
    display: flex;
    background-image: url(/Fronted/img/fondo2.png);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 5px 50px 20px 40px;
}

.brand {
    text-decoration: none;
    font-size: 24px;
    display: flex;
    align-items: center;
    font-weight: 700;
    color: var(--light);
    position: sticky;
    top: 0;
    left: 0;
    background: var(--dark);
    transition: all .3s ease;
    padding: 0 5px;
}

.map {
    min-width: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 6px;
}

.h1 {
    display: block;
    font-size: 2em;
    margin-block-start: 0.67em;
    margin-block-end: 0.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}

.fw-normal {
    text-align: center;
}

.btn-warning {
    align-content: center;
}

.mb-3 {
    font: bold;
    margin-bottom: 1.5rem;
}

.login-box {
    background-color: rgba(137, 195, 218, 0.6);
    border-radius: 10px;
    box-sizing: border-box;
    padding: 40px 20px;
}

.iconos {
    padding: 1rem 0;
    margin: 0;
    width: 200px;
    display: flex;
    justify-content: space-around;
    margin: auto;
}

.border-icon {
    height: 20px;
    width: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1.5rem;
    border: solid thin rgb(37, 5, 5);
    border-radius: 50%;
    font-size: 1.5rem;
    transition: all .3s ease-in;
}

.border-icon:hover {
    background-color: rgba(4, 10, 17, 0.171);
    cursor: pointer;
}

.login-box label {
    margin: 0;
    padding: 10;
    display: block;
}

.login-box input {
    margin-bottom: 10px;
}

.login-box input[type="email"],
.login-box input[type="password"] {

    border-bottom: 1px solid #fff;
    outline: none;
    font-size: 16px;
}

.login-box button[type="submit"] {
    border: none;
    outline: none;
    height: 40px;
    color: #fff;
    font-size: 18px;
}

.login-box a {
    text-decoration: none;
    font-size: 12px;
    line-height: 10px;
    color: rgb(12, 11, 11);
}

.login-box a:hover {
    color: rgb(44, 38, 38);
}

.checkbox {
    background-color: initial;
    cursor: default;
    appearance: auto;
    box-sizing: border-box;
    margin: 3px 3px 3px 4px;
    padding: initial;
    border: initial;
}