@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Poppins', sans-serif;
}

li {
	list-style: none;
}

:root {
	--white: #FFF;
	--blue: #562BF7;
	--light: #F5F5F5;
	--light-blue: #F3F0FF;
	--grey: #eee;
	--dark-grey: #666;
	--black: #222;
}
.html, .body{
    height: 100%;
}
body {
	background-image: url(/Fronted/img/fondo2.png);
    background-repeat: no-repeat;
    background-size: cover;
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
	padding: 1rem;
}

.container {
	background: var(--white);
	border-radius: 10px;
	box-shadow: 0 8px 24px rgba(0, 0, 0, .05);
}
.wrapper {
	display: flex;
}
.indicator {
    white-space: nowrap;
	padding: 1.5rem 0;
	border-right: 1px solid var(--grey);
}
.indicator li {
	display: flex;
	align-items: center;
	grid-gap: .5rem;
	padding: 10px 2rem;
	cursor: pointer;
	font-size: .875rem;
	color: var(--black);
	border-right: 3px solid transparent;
}
.indicator li i {
	font-size: 1rem;
}
.indicator li:hover {
	background: var(--light-blue);
}
.indicator li.active {
	border-right-color: var(--blue);
	color: var(--blue);
	background: var(--light-blue);
}
.content {
	padding: 1.5rem 2rem;
}
.content li {
	display: none;
}
.content li.active {
	display: block;
}
.content li h1 {
	font-size: 1.5rem;
	font-weight: 600;
	color: var(--black);
	margin-bottom: .75rem;
}
.content li p {
	margin-bottom: .5rem;
	color: var(--dark-grey);
	font-size: .875rem;
}
@media screen and (max-width: 576px) {
	.wrapper {
		flex-direction: column;
	}
	.indicator {
		border-right: none;
	}
}