*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;
    font-weight: bolder;
}
body{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url(/img/fondo.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    color: rgb(20, 19, 19);
}
.container-form{
    width:  90%;
    height: 90vh;
    display: flex;
    justify-content: space-around;
    transition: all .5s ease-out;
}
.welcome-back{
    display: flex;
    align-items: center;
    text-align: center;
}
.message{
    padding: 1rem;
}
.message{
    font-size: 1.7rem;
    padding: 1rem 0;
}
.message button {
    padding: 1rem;
    font-weight: 400;
    background-color: rgba(137, 195, 218, 0.6);
    border-radius: 2rem;
    border: none;
    outline: none;
    cursor: pointer;
    font-size: .9rem;
    margin-top: 2rem;
    transition: all .3s ease-in;
    color: rgba(8, 8, 8, 0.849);
}
.message button:hover{
    background-color: rgba(137, 195, 218);
}
.formulario{
    width: 400px;
    padding: 1rem;
    margin: 2rem;
    background-color: rgba(137, 195, 218, 0.6);
    text-align: center;
}
.create-account{
    padding: 2.7rem 0;
    font-size: 1.7rem;
}
.iconos{
    width: 200px;
    display: flex;
    justify-content: space-around;
    margin: auto;
}
.border-icon{
    height: 20px;
    width: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1.5rem;
    border: solid thin rgb(37, 5, 5);
    border-radius: 50%;
    font-size: 1.5rem;
    transition: all .3s ease-in;
}
.border-icon:hover{
    background-color: rgba(4, 10, 17, 0.171);
    cursor: pointer;
}
.cuenta-gratis{
    padding: 2rem 0;
}
.formulario input{
    width: 70%;
    display: block;
    margin: auto;
    margin-bottom: 2rem;
    background-color: transparent;
    border: none;
    border-bottom: rgb(26, 5, 5) thin solid;
    text-align: center;
    outline: none;
    padding: .2rem 0;
    font-size: .9rem;
    color: rgb(7, 4, 4);
}
.formulario input[type="button"]{
    width: 60%;
    margin: auto;
    border:  solid thin rgb(233, 225, 225);
    padding: .7rem;
    border-radius: 2rem;
    background-color: rgb(253, 242, 242);
    font-weight: 600;
    margin-top: 3rem;
    font-size: .8rem;
    cursor: pointer;
    color: rgb(10, 9, 9);
}
.container-form{
    position: absolute;
    opacity: 0;
    visibility: hidden;

}
.container-form.active{
    opacity: 1;
    visibility: visible;
}
.container-form.active{
    opacity: 0;
    visibility: hidden;

}
